{% extends "base.html" %}
{% block title %} - 404 Error{% endblock title %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='404-style.css') }}">
</head>
<div id="error" class="error_code_404">
    <div class="error_message">
        The requested URL was not found on our server.
        <a href="/">Go to the homepage</a> &raquo;
    </div>
    <div class="error_bubble">
        <div class="error_code">404<br><span>ERROR</span></div>
        <div class="error_quote">He's off the map! He's off the map!</div>
    </div>
    <div class="error_arrow"></div>
    <div class="error_attrib">
    <div class="clear"></div>
</div>
<!-- The next level -->
{% endblock content %}
