{% extends 'admin/master.html' %}
{% block title %}Administration{% endblock %}
{% block menu_links %}
    {{ super() }}
{% endblock menu_links %}
{% block body %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="btn btn-primary btn-lg" href="/" role="button" style="height:60px; width:100%; padding:30px 0 0 0;"><h2>Ideas</h2></a>
            </div>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="btn btn-primary btn-lg" href="/chores" role="button" style="height:60px; width:100%; padding:30px 0 0 0;"><h2>Chores</h2></a>
            </div>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="btn btn-warning btn-lg" href="/get-chores" role="button" style="height:60px; width:100%; padding:30px 0 0 0;"><h2>New Chores</h2></a>
            </div>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="btn btn-primary btn-lg" href="/supplies" role="button" style="height:60px; width:100%; padding:30px 0 0 0;"><h2>Groceries</h2></a>
            </div>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="btn btn-warning btn-lg" href="/report" role="button" style="height:60px; width:100%; padding:30px 0 0 0;"><h2>Report</h2></a>
            </div>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="btn btn-success btn-lg" href="/account" role="button" style="height:60px; width:100%; padding:30px 0 0 0;"><h2>Account</h2></a>
            </div>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="btn btn-danger btn-lg" href="/logout" role="button" style="height:60px; width:100%; padding:30px 0 0 0;"><h2>Logout</h2></a>
            </div>
          </div>
        </article>
{% endblock body %}