{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Chore List</h1>
<ul class="list-group list-group-flush" id="chores">
  {% for task in tasks %}
    {% if user.is_parent %}
        <li class="list-group-item">
            <div class="article-metadata">
              <a class="mr-1 ml-2" href="#">{{ task.owner.first_name }}</a>
              <small class="text-muted"> - {{ task.date.strftime('%Y-%m-%d') }}</small>
                {% if task.is_active %}
                    -- Not Completed
                {% else %}
                    -- Completed
                {% endif %}
            </div>
            {{ task.task }}
        </li>
    {% else %}
        <li class="list-group-item">
            {{ task.task }}
            <button type="button" class="close text-success" onClick="deleteChore({{ task.id }})">
                <span aria-hidden="true">x</span>
            </button>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% endblock %}