{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Dinner Ideas</h1>
  {% for note in notes %}
    {% if note.is_active %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='pics/' + note.author.img_file) }}">
          <div class="media-body" style="padding-left:15px;">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ note.author.first_name }}</a>
              <small class="text-muted"> - {{ note.date }}</small>
              <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div>
                <p class="article-content">{{ note.data }}</p>
            </div>
          </div>
        </article>
    {% endif %}
  {% endfor %}
<form method="POST">
  <textarea name="note" id="note" class="form-control" spellcheck="true" maxlength="1000"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Idea</button>
  </div>
</form>
{% endblock %}